Repository ihor7016/buxy-ng2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, js-beautify -s 2 -w 80 -r --html

.lintstagedrc:

{
  "linters": {
    "*.{js,json,css,scss}": ["prettier --write", "git add"],
    "*.html": ["js-beautify -s 2 -w 80 -r --html", "git add"]
  }
}

edit version
  package.json
Due: prettier --write

make button
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.module.ts
  src/app/transaction-dialog/transaction-dialog.component.html
  src/app/transaction-dialog/transaction-dialog.component.scss
  src/app/transaction-dialog/transaction-dialog.component.spec.ts
  src/app/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions.component.html
  src/app/transactions/transactions.component.scss
  src/app/transactions/transactions.component.ts
  src/app/transactions/transactions.module.ts
  src/index.html
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

make dialog work
  src/app/app.module.ts
  src/app/transaction-dialog/transaction-dialog.component.html
  src/app/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions.component.html
  src/app/transactions/transactions.component.ts
  src/app/transactions/transactions.module.ts
  src/styles.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

add ts in prettier
  .lintstagedrc
  src/app/app.component.html
  src/styles.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

added toolbar
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/toolbar/toolbar.component.html
  src/app/toolbar/toolbar.component.scss
  src/app/toolbar/toolbar.component.spec.ts
  src/app/toolbar/toolbar.component.ts
  src/index.html
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

add layout
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/transaction-dialog/transaction-dialog.component.html
  src/app/transaction-dialog/transaction-dialog.component.scss
  src/app/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions.component.html
  src/app/transactions/transactions.component.scss
  src/app/transactions/transactions.component.ts
  src/app/transactions/transactions.module.ts
  src/index.html
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

drawer
  src/app/app.component.html
  src/app/app.module.ts
  src/app/drawer/drawer.component.html
  src/app/drawer/drawer.component.scss
  src/app/drawer/drawer.component.spec.ts
  src/app/drawer/drawer.component.ts
  src/app/toolbar/toolbar.component.html
  src/app/toolbar/toolbar.component.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

transaction class
  src/app/transactions/transaction.ts
  src/app/transactions/transactions.component.ts
Due: none

throw data from dialog
  src/app/transaction-dialog/transaction-dialog.component.html
  src/app/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions.component.ts
Due: js-beautify -s 2 -w 80 -r --html

toolbar,drawer and added new component Content
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/content/content.component.html
  src/app/content/content.component.scss
  src/app/content/content.component.spec.ts
  src/app/content/content.component.ts
  src/app/drawer/drawer.component.html
  src/app/drawer/drawer.component.scss
  src/app/drawer/drawer.component.ts
  src/app/material/material.module.ts
  src/app/toolbar/toolbar.component.html
  src/app/toolbar/toolbar.component.ts
  src/styles.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

added accounts and tags components
  src/app/accounts/accounts.component.html
  src/app/accounts/accounts.component.scss
  src/app/accounts/accounts.component.spec.ts
  src/app/accounts/accounts.component.ts
  src/app/app.module.ts
  src/app/drawer/drawer.component.html
  src/app/tags/tags.component.html
  src/app/tags/tags.component.scss
  src/app/tags/tags.component.spec.ts
  src/app/tags/tags.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

init dummy accounts
  src/app/accounts/accounts.component.html
  src/app/accounts/accounts.component.ts
  src/app/drawer/drawer.component.html
Due: js-beautify -s 2 -w 80 -r --html

remove form builder
  src/app/transaction-dialog/transaction-dialog.component.html
  src/app/transaction-dialog/transaction-dialog.component.ts
Due: js-beautify -s 2 -w 80 -r --html

add data pipe, add form builder
  src/app/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions.module.ts
  src/favicon.ico
  src/index.html
Due: js-beautify -s 2 -w 80 -r --html

add select lists
  src/app/transaction-dialog/transaction-dialog.component.html
  src/app/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions.module.ts
Due: js-beautify -s 2 -w 80 -r --html

format
  src/app/transaction-dialog/transaction-dialog.component.html
  src/app/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transaction.ts
  src/app/transactions/transactions.component.ts
Due: js-beautify -s 2 -w 80 -r --html

format
  src/app/transactions/transactions.component.ts
Due: none

add typography
  src/app/transaction-dialog/transaction-dialog.component.html
Due: js-beautify -s 2 -w 80 -r --html

added accounts list and added content color
  src/app/accounts/accounts.component.html
  src/app/accounts/accounts.component.scss
  src/app/accounts/accounts.component.ts
  src/app/app.module.ts
  src/app/button-more/button-more.component.html
  src/app/button-more/button-more.component.scss
  src/app/button-more/button-more.component.spec.ts
  src/app/button-more/button-more.component.ts
  src/app/content/content.component.scss
  src/app/drawer/drawer.component.html
  src/app/drawer/drawer.component.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

styles
  src/app/dialog/dialog.scss
  src/app/transaction-dialog/transaction-dialog.component.html
  src/app/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

dialog impl
  .lintstagedrc
  src/app/about-dialog/about-dialog.component.html
  src/app/about-dialog/about-dialog.component.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/dialog/dialog.scss
  src/styles.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

add version
  src/app/about-dialog/about-dialog.component.html
  src/app/about-dialog/about-dialog.component.ts
  src/typings.d.ts
Due: js-beautify -s 2 -w 80 -r --html

drawer ui
  src/app/accounts/accounts.component.html
  src/app/accounts/accounts.component.scss
  src/app/drawer/drawer.component.html
  src/app/drawer/drawer.component.scss
  src/app/tags/tags.component.html
  src/app/tags/tags.component.scss
  src/app/tags/tags.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

click buttonMore
  src/app/button-more/button-more.component.html
  src/app/button-more/button-more.component.ts
  src/app/drawer/drawer.component.scss
  src/app/tags/tags.component.html
  src/app/toolbar/toolbar.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

drawer opend
  src/app/drawer/drawer.component.html
Due: js-beautify -s 2 -w 80 -r --html

position content
  src/app/content/content.component.html
  src/app/content/content.component.scss
  src/app/drawer/drawer.component.html
  src/app/toolbar/toolbar.component.html
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

added button About
  src/app/toolbar/toolbar.component.html
  src/app/toolbar/toolbar.component.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

click button about
  src/app/content/content.component.html
  src/app/toolbar/toolbar.component.html
  src/app/toolbar/toolbar.component.ts
Due: js-beautify -s 2 -w 80 -r --html

clean code
  src/app/drawer/drawer.component.scss
Due: prettier --write

added fonts
  src/index.html
Due: js-beautify -s 2 -w 80 -r --html

del spec
  src/app/app.component.spec.ts
  src/app/transaction-dialog/transaction-dialog.component.spec.ts
Due: none

BEM
  src/app/accounts/accounts.component.html
  src/app/accounts/accounts.component.scss
  src/app/drawer/drawer.component.html
  src/app/drawer/drawer.component.scss
  src/app/tags/tags.component.html
  src/app/tags/tags.component.scss
  src/app/toolbar/toolbar.component.html
  src/app/toolbar/toolbar.component.scss
  src/index.html
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

rename on --> handle
  src/app/transactions/transactions.component.html
  src/app/transactions/transactions.component.ts
Due: js-beautify -s 2 -w 80 -r --html

account popup
  src/app/accounts/accounts.component.html
  src/app/accounts/accounts.component.ts
  src/app/app.component.html
  src/app/app.module.ts
  src/app/button-more/button-more.component.html
  src/app/button-more/button-more.component.ts
  src/app/popup/popup.component.html
  src/app/popup/popup.component.scss
  src/app/popup/popup.component.spec.ts
  src/app/popup/popup.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

tags popup
  src/app/accounts/accounts.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/popup/popup.component.html
  src/app/popup/popup.component.scss
  src/app/popup/popup.component.spec.ts
  src/app/popup/popup.component.ts
  src/app/tags/tags.component.html
  src/app/tags/tags.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

right position of popup
  src/app/accounts/accounts.component.html
  src/app/accounts/accounts.component.ts
  src/app/button-more/button-more.component.html
  src/app/button-more/button-more.component.ts
  src/app/drawer/drawer.component.ts
  src/app/tags/tags.component.html
  src/app/toolbar/toolbar.component.ts
Due: js-beautify -s 2 -w 80 -r --html

clean code
  src/app/button-more/button-more.component.ts
  src/app/tags/tags.component.html
Due: js-beautify -s 2 -w 80 -r --html

added drawer-menu file
  src/app/accounts/accounts.component.html
  src/app/accounts/accounts.component.scss
  src/app/app.module.ts
  src/app/drawer-menu/drawer-menu.scss
  src/app/tags/tags.component.html
  src/app/tags/tags.component.scss
  src/styles.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

delete OnInit
  src/app/accounts/accounts.component.html
  src/app/accounts/accounts.component.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/button-more/button-more.component.ts
  src/app/content/content.component.ts
  src/app/drawer/drawer.component.ts
  src/app/tags/tags.component.ts
  src/app/toolbar/toolbar.component.ts
Due: js-beautify -s 2 -w 80 -r --html

renamed clickButtonAbout
  src/app/toolbar/toolbar.component.html
  src/app/toolbar/toolbar.component.ts
  src/index.html
Due: js-beautify -s 2 -w 80 -r --html
