Repository ihor7016/buxy-ng2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, js-beautify -s 2 -w 80 -r --html

renamed handleAddTagsClick
  src/app/tags/tags.component.html
  src/app/tags/tags.component.ts
Due: js-beautify -s 2 -w 80 -r --html

clean code and renamed functions
  src/app/app.module.ts
  src/app/button-more/button-more.component.html
  src/app/button-more/button-more.component.ts
Due: js-beautify -s 2 -w 80 -r --html

added preliminary edition
  .lintstagedrc
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/table-transactions/table-transactions.component.html
  src/app/table-transactions/table-transactions.component.scss
  src/app/table-transactions/table-transactions.component.spec.ts
  src/app/table-transactions/table-transactions.component.ts
  src/index.html
  src/styles.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

clean code
  src/app/accounts/accounts.component.html
  src/app/accounts/accounts.component.scss
  src/app/content/content.component.ts
  src/app/drawer-menu/drawer-menu.scss
  src/app/tags/tags.component.html
  src/app/tags/tags.component.scss
  src/app/tags/tags.component.ts
  src/app/toolbar/toolbar.component.html
  src/app/toolbar/toolbar.component.ts
  src/index.html
  src/styles.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

added ts
  .lintstagedrc
Due: none

histing impl
  .firebaserc
  firebase.json
  package-lock.json
  package.json
Due: prettier --write

added row hovering
  src/app/table-transactions/table-transactions.component.html
  src/app/table-transactions/table-transactions.component.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

added moduls
  package-lock.json
  package.json
  src/app/app.module.ts
  src/environments/environment.ts
Due: prettier --write

replaced Material Class for own one
  src/app/table-transactions/table-transactions.component.html
  src/app/table-transactions/table-transactions.component.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

add angularfire
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/services/storage.service.spec.ts
  src/app/services/storage.service.ts
  src/environments/environment.ts
Due: prettier --write

separate material import
  src/app/app.module.ts
  src/app/material/material.module.ts
  src/app/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions.module.ts
Due: none

format
  src/app/transactions/transactions.component.ts
Due: none

moved data array to class TableTransactionsComponent
  src/app/table-transactions/table-transactions.component.ts
Due: none

upd
  src/app/table-transactions/table-transactions.component.ts
Due: none

auth component
  ng
  src/app/app.component.html
  src/app/auth/auth.component.html
  src/app/auth/auth.component.scss
  src/app/auth/auth.component.spec.ts
  src/app/auth/auth.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

delete OnInit
  src/app/button-more/button-more.component.ts
Due: none

extracted module for accounts;
  src/app/accounts/accounts.module.ts
  src/app/app.module.ts
  src/app/button-more/button-more.module.ts
  src/app/drawer/drawer.module.ts
  src/app/tags/tags.module.ts
Due: none

make service work
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/services/storage.service.ts
  src/environments/environment.ts
Due: js-beautify -s 2 -w 80 -r --html

auth service
  package-lock.json
  src/app/app.module.ts
  src/app/auth/auth.component.html
  src/app/auth/auth.component.ts
  src/app/auth/auth.module.ts
  src/app/services/auth.service.spec.ts
  src/app/services/auth.service.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

extracted shared module; removed unnesessary imports
  src/app/accounts/accounts.module.ts
  src/app/material/material.module.ts
  src/app/shared/shared.module.ts
  src/app/tags/tags.module.ts
Due: none

removed empty constructors
  src/app/accounts/accounts.component.ts
  src/app/button-more/button-more.component.ts
  src/app/content/content.component.ts
  src/app/drawer/drawer.component.ts
  src/app/tags/tags.component.ts
  src/app/toolbar/toolbar.component.ts
  src/test.ts
Due: none

delete tests
  src/app/accounts/accounts.component.spec.ts
  src/app/app.component.spec.ts
  src/app/button-more/button-more.component.spec.ts
  src/app/content/content.component.spec.ts
  src/app/drawer/drawer.component.spec.ts
  src/app/tags/tags.component.spec.ts
Due: none

bem, move styles, components tree
  src/app/styles/dialog.scss
  src/app/transactions/transaction-dialog/transaction-dialog.component.html
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions.component.html
  src/app/transactions/transactions.component.scss
  src/app/transactions/transactions.component.ts
  src/app/transactions/transactions.module.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

test
  src/test.ts
Due: none

added folder
  src/app/styles/drawer-menu.scss
  src/styles.scss
Due: prettier --write

delete test
  src/app/app.component.ts
  src/app/toolbar/toolbar.component.spec.ts
  src/styles.scss
Due: prettier --write

clean code
  src/app/accounts/accounts.component.ts
  src/app/tags/tags.component.ts
  src/styles.scss
Due: prettier --write

ngOnInit goes directly after constructor
  src/app/tags/tags.component.ts
Due: none

add user with id
  src/app/app.component.ts
  src/app/services/storage.service.spec.ts
  src/app/services/storage.service.ts
Due: none

ref to id
  src/app/services/storage.service.ts
Due: none

bar chart
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.module.ts
  src/app/bar-chart/bar-chart.component.html
  src/app/bar-chart/bar-chart.component.scss
  src/app/bar-chart/bar-chart.component.ts
  src/app/table-transactions/table-transactions.component.scss
  src/app/table-transactions/table-transactions.component.spec.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

data tree
  src/app/services/storage.service.ts
Due: none

delete drawer module
  src/app/app.module.ts
  src/app/drawer/drawer.module.ts
Due: none

del key
  src/app/services/storage.service.ts
  src/environments/environment.ts
Due: none

make storage work
  .gitignore
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/services/storage.service.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

gitignore
  .gitignore
Due: none

ignore
  .gitignore
Due: none

ignore
  .gitignore
  src/environments/environment.ts
Due: none

Revert "ignore"
  .gitignore
  src/environments/environment.ts
Due: none

Path conditions:
  prettier --write: any of: *.{js,json,css,scss}
  js-beautify -s 2 -w 80 -r --html: any of: *.html
