Repository ihor7016/buxy-ng2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, js-beautify -s 2 -w 80 -r --html

.lintstagedrc:

{
  "linters": {
    "*.{js,json,css,scss}": ["prettier --write", "git add"],
    "*.html": ["js-beautify -s 2 -w 80 -r --html", "git add"]
  }
}

ignore
  .gitignore
Due: none

Revert "ignore"
  .gitignore
Due: none

Revert "Revert "ignore""
  .gitignore
Due: none

change conf
  src/app/app.module.ts
Due: none

changed bar's colors
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/bar-chart/bar-chart.component.html
  src/app/bar-chart/bar-chart.component.ts
  src/app/table-transactions/table-transactions.component.html
  src/app/table-transactions/table-transactions.component.scss
  src/app/table-transactions/table-transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

changed bar's width
  src/app/bar-chart/bar-chart.component.ts
Due: none

removed content component;
  src/app/app.module.ts
  src/app/content/content.component.html
  src/app/content/content.component.scss
  src/app/content/content.component.ts
  src/app/drawer/drawer.component.html
  src/app/drawer/drawer.module.ts
  src/app/toolbar/toolbar.component.html
  src/app/toolbar/toolbar.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

clean code
  src/app/app.module.ts
Due: none

applied shadow to the chart
  src/app/app.module.ts
  src/app/bar-chart/bar-chart.component.html
  src/app/bar-chart/bar-chart.component.ts
Due: js-beautify -s 2 -w 80 -r --html

format
  .gitignore
  src/app/button-more/button-more.component.scss
  src/app/shared/button-more/button-more.component.html
  src/app/shared/button-more/button-more.component.ts
  src/app/shared/shared.module.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

format
  src/app/shared/button-more/button-more.component.html
Due: js-beautify -s 2 -w 80 -r --html

made away remarks
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/table-transactions/table-transactions.component.html
  src/app/table-transactions/table-transactions.component.scss
  src/app/table-transactions/table-transactions.component.spec.ts
  src/app/table-transactions/table-transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

auth works
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.module.ts
  src/app/auth/auth.component.html
  src/app/auth/auth.component.ts
  src/app/auth/auth.module.ts
  src/app/main/main.component.html
  src/app/main/main.component.scss
  src/app/main/main.component.spec.ts
  src/app/main/main.component.ts
  src/app/services/auth-guard.service.spec.ts
  src/app/services/auth-guard.service.ts
  src/app/services/auth.service.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

account dialog impl
  src/app/accounts/account-dialog/account-dialog.component.html
  src/app/accounts/account-dialog/account-dialog.component.ts
  src/app/accounts/accounts.component.ts
  src/app/accounts/accounts.module.ts
Due: js-beautify -s 2 -w 80 -r --html

tag dialog impl
  src/app/tags/tag-dialog/tag-dialog.component.html
  src/app/tags/tag-dialog/tag-dialog.component.ts
  src/app/tags/tags.component.ts
  src/app/tags/tags.module.ts
Due: js-beautify -s 2 -w 80 -r --html

...
  src/app/app.component.ts
  src/app/services/storage.service.ts
Due: none

add readme deploy
  README.deploy.md
Due: none

style
  README.deploy.md
Due: none

add build
  README.deploy.md
  src/app/about-dialog/about-dialog.component.ts
Due: none

typo
  README.deploy.md
Due: none

move readme deploy
  README.deploy.md
  README.md
Due: none

added sorting module
  src/app/table-transactions/table-transactions.component.html
  src/app/table-transactions/table-transactions.component.scss
  src/app/table-transactions/table-transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

get list, get obj
  src/app/app.component.ts
  src/app/services/storage.service.ts
  src/app/transactions/transactions.component.html
  src/app/transactions/transactions.component.ts
Due: js-beautify -s 2 -w 80 -r --html

upd
  src/app/app.module.ts
  src/app/transactions/transactions.module.ts
Due: none

upd
  src/app/app.module.ts
Due: none

moved TableTransactionsComponent to transactions.module
  src/app/app.component.html
  src/app/app.module.ts
  src/app/table-transactions/table-transactions.component.scss
  src/app/transactions/transactions.component.html
  src/app/transactions/transactions.module.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

save session
  src/app/auth/auth.component.ts
  src/app/services/auth.service.ts
  src/styles.scss
Due: prettier --write

hide fire config
  .gitignore
  src/app/auth/auth.module.ts
  src/environments/environment.ts
Due: none

errors corrections
  src/app/app.module.ts
  src/app/material/material.module.ts
  src/app/table-transactions/table-transactions.component.scss
Due: prettier --write

added imports
  src/app/tags/tags.component.ts
Due: none

clean code
  .lintstagedrc
  src/app/accounts/accounts.component.ts
  src/app/drawer/drawer.component.ts
  src/app/shared/button-more/button-more.component.html
  src/app/shared/button-more/button-more.component.ts
  src/app/tags/tags.component.ts
  src/index.html
  src/styles.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

errors correction
  src/app/material/material.module.ts
  src/app/table-transactions/table-transactions.component.ts
  src/app/transactions/transactions.component.html
  src/app/transactions/transactions.module.ts
  src/index.html
Due: js-beautify -s 2 -w 80 -r --html

add metods in storage service
  README.md
  src/app/app.module.ts
  src/app/services/storage.service.ts
  src/app/transactions/transactions.component.html
  src/app/transactions/transactions.component.ts
Due: js-beautify -s 2 -w 80 -r --html

format
  src/app/transactions/transactions.component.ts
Due: none

format
  src/app/services/storage.service.ts
Due: none
